body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

h1,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    color: #eeeeee;
    vertical-align: middle;
    background-color: #669ec0;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #669ec0;
}

.main-navigation {
    margin: 0;
    display: flex;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-header-logo img {
    display: block;
    margin: 0 auto;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 56px;
    width: 100%;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
    outline: none;
}

.site-navigation a:active {
    color: #cacaca;
}

nav ul {
    display: flex;
    min-height: 56px;
    justify-content: space-between;
}

.site-navigation li {
    width: 20%;
    text-align: center;
    padding-top: 22px;
}

.site-navigation li:nth-child(2) {
    margin-right: 20%;
}

.intro {
    background-image: url("../img/welcome.png");
    background-color: #81b3d2;
    width: 100%;
    height: 507px;
}

.intro-text {
    text-align: center;
}

.main-title {
    font-size: 21px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 25px;
}

.main-title+p {
    line-height: 26px;
    padding-bottom: 50px;
}

.features {
    text-align: center;
}

.features h3 {
    font-size: 21px;
    line-height: 21px;
}

.features-true-city {
    display: flex;
    min-height: 258px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-true-city-column-1 {
    width: 400px;
    padding: 43px 52px;
}

.features-true-city-column-1 p {
    padding-left: 10px;
    padding-right: 10px;
}

.features-true-city-column-1 h3 {
    line-height: 0px;
}

.features-true-city-column-2 {
    line-height: 0px;
}

.features-city-adv {
    display: flex;
    justify-content: space-between;
}

.features-city-adv-column {
    padding-top: 57px;
    padding-bottom: 83px;
    width: 400px;
}

.features-city-adv-column p {
    padding-left: 50px;
    padding-right: 50px;
}

.features-devil-bridge {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-devil-bridge-column-1 {
    line-height: 0px;
}

.features-devil-bridge-column-2 {
    width: 400px;
    padding: 37px 48px;
}

.features-devil-bridge-column-2 p {
    padding-left: 10px;
    padding-right: 10px;
}

.features-devil-bridge-column-2 h3 {
    line-height: 0px;
}

.features-city-advant {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 21px;
    background-color: #eeeeee;
}

.features-city-advant-column {
    padding-top: 50px;
    padding-bottom: 65px;
    width: 400px;
}

.features-city-advant-column p {
    padding-left: 70px;
    padding-right: 70px;
}

.features-city-advant-column h3 {
    line-height: 0px;
}

.search {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    position: relative;
}

.second-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding-top: 55px;
    padding-bottom: 35px;
}

.btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.brown-btn {
    position: relative;
    margin-top: 50px;
}

.brown {
    background-color: #766357;
    width: 567px;
    height: 86px;
}


/*  position: absolute;
    background-color: #ffffff;
    
    top: 171px;

    padding: 55px;
 background: url("../img/minus.png") no-repeat center;
background: url("../img/plus.png") no-repeat center;
*/

.search-date {
    position: relative;
    z-index: 3;
    padding: 55px;
    background: white;
    width: 567px;
    height: 395px;
    box-sizing: border-box;
    position: absolute;
    top: 87px;
    left: 315px;
    right: auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search-item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.search-item-top input {
    font: inherit;
    border-color: #f2f2f2;
    width: 345px;
    height: 38px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background: url("../img/calendar.svg") no-repeat, #f2f2f2;
    background-position: 98% 8px;
}

.search-item-bottom {
    display: flex;
    margin-bottom: 55px;
    justify-content: space-between;
}

.search-item-b:last-child {
    margin-left: 40px;
}

.search-item-b {
    width: 229px;
    display: flex;
    align-items: center;
}

.search-item-b input {
    width: 345px;
    height: 38px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 10px;
    border: none;
    background: #f2f2f2;
    width: 30px;
}

.form-small-block {
    display: flex;
    justify-content: center;
}

.search-item-b .gray-btn {
    width: 38px;
    border: none;
    height: 40px;
}

.minus {
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    color: #a9a9a9;
    margin-left: 25px;
}

.plus {
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    color: #a9a9a9;
}

.minus:hover,
.plus:hover {
    color: #000000;
}

.blue-button {
    width: 459px;
    height: 60px;
    background: #81b3d2;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.search-item-top input:focus {
    border: 2px solid #e5e5e5;
}

.inner-page .main-header {
    position: relative;
}

.inner-page .main-navigation {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.choice {
    background-image: url("../img/background.jpg");
    background-color: #81b3d2;
    width: 1200px;
    height: 217px;
}

.choice h3 {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.choice-all {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.choice ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 21px;
}

.choice-infrastucture,
.choice-type-house {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
}

.infrastucture {
    padding-top: 32px;
    width: 241px;
}

.infrastucture li {
    padding-top: 21px;
    display: flex;
    align-items: center;
}

.infrastucture input {
    margin-right: 15px;
    display: none;
}

.infrastucture label {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding-left: 40px;
    position: relative;
}

.infrastucture label:before {
    content: "";
    position: absolute;
    background: url("../img/checkbox-off.svg");
    width: 23px;
    height: 23px;
    left: 0px;
}

.infrastucture input[type="checkbox"]:checked+label:before {
    content: "";
    position: absolute;
    background: url("../img/checkbox-on.svg");
    width: 23px;
    height: 23px;
    left: 0px;
}

.type-house {
    padding-top: 32px;
    min-height: 166px;
    width: 241px;
}

.type-house li {
    padding-top: 21px;
    display: flex;
    align-items: center;
}

.type-house input {
    margin-right: 15px;
    display: none;
}

.type-house label {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding-left: 40px;
    position: relative;
}

.type-house label:before {
    content: "";
    position: absolute;
    background: url("../img/checkbox-off.svg");
    width: 23px;
    height: 23px;
    left: 0px;
}

.type-house input[type="checkbox"]:checked+label:before {
    content: "";
    position: absolute;
    background: url("../img/checkbox-on.svg");
    width: 23px;
    height: 23px;
    left: 0px;
}

.choice-range {
    padding-top: 15px;
    margin-left: 180px;
    margin-right: 73px;
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}

.choice-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.filter-button-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    cursor: pointer;
}

.filter-button-button:hover {
    color: #000000;
    background: #ffffff;
}

.filter-input:hover+label,
.filter-input:focus+label {
    color: #663d15;
}

.filter-input:disabled+label {
    color: #6a6a6a;
    opacity: 0.5;
}

.sort-header {
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 0px 73px;
    height: 85px;
    align-items: center;
}

.sort ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-header h3 {
    margin-right: 53px;
}

.sort-list {
    margin-left: 45px;
    display: flex;
    font-family: "PT sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
}

.sort-list li:first-child {
    margin-right: 40px;
}

.sort-list li:last-child {
    margin-right: 0px;
}

.sort-list li {
    margin-right: 30px;
}

.sort-list a {
    color: #e0e0e0;
    border-bottom: dotted 1px #81b3d2;
}

.sort-list .active {
    color: #81b3d2;
    border: none;
}

.arrow-list {
    display: flex;
}

.sort-header-left {
    display: flex;
    font-family: "PT sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
}

.catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    border-top: solid 1px #e5e5e5;
    display: flex;
    padding: 30px 73px;
}

.catalog-item:last-child {
    border-bottom: solid 1px #e5e5e5;
}

.catalog-item-products {
    display: flex;
}

.catalog-item-description {
    margin-left: 30px;
}

.catalog-item-description h3 {
    margin: 0;
    padding: 0;
}

.catalog-item-description2 {
    color: #000000;
    font-family: "PT sans", Arial, sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 2px;
}

.catalog-item-description span {
   
}

.catalog-item-title {
    display: flex;
    justify-content: space-between;
}

.price-discript {
    width: 112px;
    margin-right: 5px;
}

.price-number {
    margin-right: auto;
}

.catalog-item-price {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    line-height: 21px;
}

.catalog-item-price-info {
    color: white;
    padding: 3px 18px;
    background: #81b3d2;
}

.catalog-item-price-info:hover,
.catalog-item-price-info:focus {
    background: #669ec0;
    outline: none;
}

.catalog-item-price-info {
    background: #5496bd;
    color: #ffffff;
    font-weight: 700;
}

.info-brown {
    margin-left: 5px;
    background: #766357;
}

.info-brown:hover,
.info-brown:focus {
    background: #604e43;
    outline: none;
}

.info-brown:active {
    background: #503e33;
    color: #928a85;
}

.catalog-item-rate {
    margin-left: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.catalog-item-rate-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.catalog-item-rate-star li {
    width: 18px;
  height: 18px;
  background: url("../img/star.svg") no-repeat center;
}

.catalog-item-rate-star li:not(:last-child) {
  margin-right: 5px;
}

.catalog-item-rating-namber {
    height: 27px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f2f2f2;
}

.footer-catalog {
    bottom: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    margin-top: -120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-index {
    bottom: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-footer {
    bottom: 0;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hashtag,
.footer-copyright {
    display: flex;
    justify-content: center;
    width: 240px;
}

.footer-social {
    width: 400px;
    display: flex;
    justify-content: center;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social-list {
    display: flex;
    align-items: center;
    height: 48px;
}

.social-button {
    color: #000000;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-copyright img {
    margin-left: 10px;
    width: 115px;
}

.footer-copyright .logo-footer {
    color: #000000;
    text-decoration: none;
}

.footer-copyright .logo-footer:hover,
.footer-copyright .logo-footer:focus {
    text-decoration: none;
    color: #81b3d2;
}
